
*.BMP
*.hdf5
*.rar
.ipynb_checkpoints/transfer_notebook-checkpoint.ipynb
.ipynb_checkpoints/simple_notebook-checkpoint.ipynb
.ipynb_checkpoints/load_data-checkpoint.py
__pycache__/load_data.cpython-37.pyc
__pycache__/